################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TheAdamsParadigm.Api/obj
/TheAdamsParadigm.Api/Properties
*.user
/TheAdamsParadigm.Api/bin/Debug/net8.0
/TheAdamsParadigm.Api/bin/Release/net8.0
/TheAdamsParadigm.Api/appsettings.Development.json
